.section {
    .ul {
        .li {
            display: grid;
            align-items: center;
            grid-template-areas:
                'icon title title'
                'description description description'
                'catalog catalog catalog';
            gap: 10px;
            // height: 374px;

            .icon {
                grid-area: icon;

            }

            .title {
                grid-area: title;

            }

            .description {
                grid-area: description;

            }

            .catalog {
                grid-area: catalog;

            }
        }
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .section {
        .ul {
            .li {
                grid-template-areas:
                    'title icon icon'
                    'description icon icon'
                    'catalog icon icon';
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .section {
        .ul {
            .li {
                grid-template-areas:
                    'icon title '
                    'description '
                    'catalog ';
            }
        }
    }
}